# Ejercicios capítulo 5.

Ejercicios prácticos de programación en Python con soluciones paso a paso, enfocados en creación de series desde listas, NumPy, arrays y diccionarios y creación de DataFrames desde diferentes fuentes.

1.Crea una Serie que contenga los nombres de 5 países.

In [2]:
import pandas as pd

paises = ['México', 'Brasil', 'Argentina', 'Chile', 'Colombia']
serie_paises = pd.Series(paises)
print(serie_paises)

0       México
1       Brasil
2    Argentina
3        Chile
4     Colombia
dtype: object

2 .Crea una Serie que represente la población de tres países.

In [4]:
poblacion = {'México': 129.7, 'Argentina': 45.54, 'Chile': 19.66}
serie_poblacion = pd.Series(poblacion)
print(serie_poblacion)

México       129.70
Argentina     45.54
Chile         19.66
dtype: float64

3.Imprime el segundo país de la Serie serie_paises

In [5]:
print(serie_paises[1])

Brasil

4.Crea una Serie con nombres de frutas (manzana, fresa, uva) y accede al valor asociado con "manzana".

In [7]:
frutas = pd.Series([3, 5, 2], index=['manzana', 'fresa', 'uva'])
print(frutas['manzana'])

3

5.Dadas dos Series que representan ventas en enero y febrero, suma ambas para obtener las ventas totales.



*   Enero: 100, 150, 200
*   Febrero: 120, 130, 180

In [8]:
enero = pd.Series([100, 150, 200])
febrero = pd.Series([120, 130, 180])
total = enero + febrero
print(total)

0    220
1    280
2    380
dtype: int64

6. Usa una Serie de edades y determina cuáles son mayores de edad (≥18).

In [9]:
edades = pd.Series([15, 20, 17, 25])
mayores = edades >= 18
print(mayores)

0    False
1     True
2    False
3     True
dtype: bool

7.Crea un DataFrame con los nombres y edades de tres personas.

In [12]:
datos = {'Nombre': ['Ana', 'Luis', 'Pedro'], 'Edad': [23, 30, 21]}
df = pd.DataFrame(datos)
print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    21

8.Convierte un array NumPy en un DataFrame de 2 columnas.

In [15]:

import numpy as np

array = np.array([[1, 2], [3, 4], [5, 6]])
df_array = pd.DataFrame(array, columns=['Columna1', 'Columna2'])
print(df_array)

   Columna1  Columna2
0         1         2
1         3         4
2         5         6

9.Imprime solo la columna “Edad” del siguiente DataFrame.

In [16]:
df = pd.DataFrame({'Nombre': ['Ana', 'Luis', 'Sofía'], 'Edad': [20, 25, 30]})
print(df['Edad'])

0    20
1    25
2    30
Name: Edad, dtype: int64

10.Crea un DataFrame de 10 números y muestra los primeros y últimos 3.

In [17]:
df_numeros = pd.DataFrame({'Número': range(1, 11)})
print(df_numeros.head(3))
print(df_numeros.tail(3))

   Número
0       1
1       2
2       3
   Número
7       8
8       9
9      10

11.Crea un DataFrame con nombres y edades, y analiza su estructura.

In [18]:
df = pd.DataFrame({'Nombre': ['Ana', 'Luis', 'Sofía'], 'Edad': [20, 25, 30]})
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None
       Edad
count   3.0
mean   25.0
std     5.0
min    20.0
25%    22.5
50%    25.0
75%    27.5
max    30.0

12.Crea un DataFrame con índice personalizado y usa .loc[] para seleccionar una fila.

In [19]:
df = pd.DataFrame({'Nombre': ['Ana', 'Luis', 'Sofía'], 'Edad': [20, 25, 30]}, index=['a', 'b', 'c'])
print(df.loc['b'])

Nombre    Luis
Edad        25
Name: b, dtype: object

13.Crea un DataFrame que contenga información de tres productos (nombre,precio).

In [13]:
productos = [
    {'Nombre': 'Laptop', 'Precio': 15000},
    {'Nombre': 'Mouse', 'Precio': 300},
    {'Nombre': 'Teclado', 'Precio': 700}
]
df_productos = pd.DataFrame(productos)
print(df_productos)

    Nombre  Precio
0   Laptop   15000
1    Mouse     300
2  Teclado     700